.container {
  grid-area: page;
  overflow-y: auto;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'leftComponent mainBoard rightComponent';
}
